body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.common {
    background-color: rgb(233, 239, 249);
    border: 2px solid white;
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

/* .leftmenu {
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
} */

.main {
    top: 114px;
    left: 5px;
    right: 5px;
    bottom: 39px;
}

/* .rightmenu {
    top: 114px;
    right: 5px;
    width: 100px;
    bottom: 39px;
} */

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 25px;
    font-size: 10px;
    text-align: center;
}